// palettes
// https://colorhunt.co/palette/136567
// https://colorhunt.co/palette/69360
// https://colorhunt.co/palette/8656

:root {
  --bg-color: #222831;
  --text-color: #eeeeee;
  --other-color: #393e46;
  --intense-color: #b55400;
  --bg-color-transparent: rgba(0, 0, 0, .5);
}

body {
  font-family: 'Barlow';
  font-size: 18px;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}
