#sheet {
  color: var(--text-color);
  position: relative;

  .clef {
    position: absolute;
    font-size: 4em;
  }

  .note {
    position: absolute;
    font-size: 2em;
    left: 110px;
  }

  .sharp {
    position: absolute;
    left: 3em;
  }

  .staff,
  .ledger {
    div {
      height: .7em;
      border-bottom: 1px solid var(--text-color);
    }
  }

  .ledger {
    width: 10em;

    div {
      width: 1em;
      margin-left: 109px;
    }
  }

  .staff div {
    width: 10em;
  }

  .octaves {
    position: absolute;
    font-size: 2em;
    top: .5em;
    left: 1.3em;

    .octave {
      display: none;
    }
  }
}
